<div class="w-full h-[626px] relative pt-55">
    <img class="w-full h-[600px]" src="assets/inscripciones.jpg" />
    <div class="w-615px left-[50%] transform translate-x-[-50%] top-35px absolute text-sky-900 text-[32px] font-bold font-['Roboto']">Vive una nueva experiencia universitaria en la UPS</div>
</div>

<div class="w-full h-[580px] relative transform translate-x-[10%]">
    <div class="w-[381px] h-[541px] left-[1394px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <div class="w-[381px] h-[541px] left-[550px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <div class="w-[381px] h-[541px] left-[128px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <img class="w-[381px] h-[353px] left-[128px] top-[16px] absolute rounded-[32px]" src="assets/ingresa-ups-2.png" />
    <img class="w-[381px] h-[353px] left-[550px] top-[16px] absolute rounded-[32px]" src="assets/oferta-grado.png" />
    <img class="w-[381px] h-[353px] left-[1394px] top-[16px] absolute rounded-[32px]" src="assets/posgrado.png" />
    <div class="w-[381px] h-[541px] left-[972px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <img class="w-[381px] h-[353px] left-[972px] top-[16px] absolute rounded-[32px]" src="assets/investigacion.jpg" />
    <div class="w-[201px] h-[38px] left-[246px] top-[405px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Ingresa a la UPS</div>
    <div class="w-[201px] h-[38px] left-[678px] top-[405px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Oferta de grado</div>
    <div class="w-[201px] h-[38px] left-[1076px] top-[404px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Oferta de Posgrado</div>
    <div class="w-[201px] h-[38px] left-[1522px] top-[404px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Investigación</div>
    <div class="w-[228px] h-9 left-[203px] top-[466px] absolute text-zinc-600 text-lg font-medium font-['Roboto']">Tus metas son importantes</div>
    <div class="w-[228px] h-9 left-[627px] top-[465px] absolute text-center text-zinc-600 text-lg font-medium font-['Roboto']">Conoce nuestras carreras universitarias</div>
    <div class="w-[228px] h-9 left-[1049px] top-[463px] absolute text-center text-zinc-600 text-lg font-medium font-['Roboto']">Buscamos la nueva generaciòn de lìderes</div>
    <div class="w-[228px] h-9 left-[1471px] top-[465px] absolute text-center text-zinc-600 text-lg font-medium font-['Roboto']">Investiga, Innova, Empredne</div>
</div>