<div class="w-full h-[639px] relative">
    <div class="w-[100%] h-[639px] left-0 top-0 absolute bg-sky-900"></div>
    <div class="left-[1251px] top-[60px] absolute text-white text-[22px] font-bold font-['Roboto']">Acerca de la Universidad</div>
    <div class="w-[258px] h-[79px] left-[1215px] top-[506px] absolute bg-sky-900 rounded-[38px] border-4 border-white"></div>
    <div class="w-[187px] h-[26px] left-[1254px] top-[535px] absolute text-white text-[22px] font-bold font-['Roboto']">Más Información</div>
    <iframe class="w-[820px] h-[430px] left-[200px] top-[182px] absolute" src="https://www.youtube.com/embed/wJ2XTbzpqrI?si=HFJvkwgJqG-bqcRz" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
    <div class="w-[436px] h-[283px] left-[1195px] top-[164px] absolute text-justify text-neutral-50 text-xl font-medium font-['Roboto']">Estudiar en la UPS, implica recibir una educación para ser y no solo para saber. Somos parte de una experiencia formativa de más de 150 años. Somos herederos de una pedagogía vivencial implementada por Don Bosco, cuyas características son el optimismo ante la vida, la creatividad para resolver problemas, amabilidad, solidaridad ante los sectores menos favorecidos, respeto al ambiente, conciencia ciudadana y rigurosidad científica en beneficio del ser humano.<br/><br/></div>
</div>

