<div class="w-full relative">
    
   <div class="w-full h-[165px] relative">
        <div class="w-[1886px] h-[97px] left-0 top-35px absolute bg-white"></div>
        <img class="w-[414px] h-[155px] left-0 top-0 absolute" src="assets/logoupscolor.svg" />
        <div class="w-[115.30px] h-[37.69px] left-[508px] top-[70px] absolute text-stone-700 text-base font-medium font-['Roboto']">ADMISIONES</div>
        <div class="w-[127.43px] h-[37.69px] left-[849px] top-[70px] absolute text-stone-700 text-base font-medium font-['Roboto']">ESTUDIANTES</div>
        <div class="w-[259.72px] h-[37.69px] left-[1178px] top-[70px] absolute text-stone-700 text-base font-medium font-['Roboto']">DOCENCIA E INVESTIGACIÒN</div>
        <div class="w-[115.30px] h-[37.69px] left-[1675px] top-[70px] absolute text-stone-700 text-base font-medium font-['Roboto']">GRADUADOS</div>
    </div> 
    
    
    
    <div class="w-full h-[38px] absolute left-0 top-0 bg-sky-900"></div>
    <div class="w-full h-[38px] absolute left-0 top-[127px] bg-sky-900"></div>
    <img class="w-[33.98px] h-[27px] absolute left-[16.99px] top-[4px]" src="assets/luna.png" />
    <div class="w-[16.99px] absolute left-[205.11px] top-[14px] text-white text-[15px] font-normal font-['Roboto']">A-</div>
    <div class="w-[14.56px] absolute left-[226.95px] top-[12px] text-white text-lg font-normal font-['Roboto']">A</div>
    <div class="w-[30.34px] absolute left-[246.37px] top-[10px] text-white text-xl font-normal font-['Roboto']">A+</div>
    <img class="w-[30.34px] h-[21px] absolute left-[1308.32px] top-[7px]" src="assets/correo.png" />
    <img class="w-[36.41px] h-5 absolute left-[1543.77px] top-[7px]" src="assets/quipux.png" />
    <img class="w-[33.98px] h-[26px] absolute left-[1674.84px] top-[7px]" src="assets/sesion.png" />
    <div class="w-[50.97px] absolute left-[133.50px] top-[132px] text-white text-[17px] font-medium font-['Roboto']">Inicio</div>
    <div class="w-[65.54px] absolute left-[1093.50px] top-[132px] text-white text-[17px] font-medium font-['Roboto']">Prensa</div>
    <div class="w-[53.40px] absolute left-[1730.67px] top-[132px] text-white text-[17px] font-medium font-['Roboto']">AVAC</div>
    <div class="w-[135.93px] absolute left-[1383.57px] top-[132px] text-white text-[17px] font-medium font-['Roboto']">Colaboradores</div>
    <div class="w-[182.05px] absolute left-[711.20px] top-[132px] text-white text-[17px] font-medium font-['Roboto']">Identidad Salesiana</div>
    <div class="w-[98.31px] absolute left-[430.85px] top-[132px] text-white text-[17px] font-medium font-['Roboto']">Institución</div>
    <div class="w-[132.29px] absolute left-[50.97px] top-[7px] text-white text-lg font-normal font-['Roboto']">Modo Oscuro</div>
    <div class="w-[180.83px] absolute left-[1338.66px] top-[7px] text-white text-[17px] font-normal font-['Roboto']">Correo Institucional</div>
    <div class="w-[123.79px] absolute left-[1717.32px] top-[7px] text-white text-[17px] font-normal font-['Roboto']">Iniciar Sesión</div>
    <div class="w-[64.32px] absolute left-[1586.25px] top-[7px] text-white text-[17px] font-normal font-['Roboto']">Quipux</div>    




</div>
