<div class="w-full h-[639px] relative">
    <div class="w-[100%] h-[639px] left-0 top-0 absolute bg-sky-900"></div>
    <div class="left-[1251px] top-[60px] absolute text-white text-[22px] font-bold font-['Roboto']">Noticias UPS</div>
    <div class="w-[258px] h-[79px] left-[1215px] top-[506px] absolute bg-sky-900 rounded-[38px] border-4 border-white"></div>
    <div class="w-[187px] h-[26px] left-[1254px] top-[535px] absolute text-white text-[22px] font-bold font-['Roboto']">Ver mas noticias</div>
    <iframe class="w-[820px] h-[430px] left-[200px] top-[182px] absolute" src="/assets/convenio.jpg" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
    <div class="w-[436px] h-[283px] left-[1195px] top-[164px] absolute text-justify text-neutral-50 text-xl font-medium font-['Roboto']">- Innocavion y compromiso, grpo TICAD recibe reconocimiento en los premios lider en Ecuador.  - Sera el futuro dominado por la inteligencia Artificial? Estudiantes buscan responder esto!!!.  - Estudiantes cierran el anio con el tradisional concurso de Monigotes.  <br/><br/></div>

</div>


