
<div class="w-full h-[580px] relative transform translate-x-[10%]">
    <div class="w-[381px] h-[541px] left-[1394px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <div class="w-[381px] h-[541px] left-[550px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <div class="w-[381px] h-[541px] left-[128px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <img class="w-[381px] h-[353px] left-[128px] top-[16px] absolute rounded-[32px]" src="/assets/libro1.jpg" />
    <img class="w-[381px] h-[353px] left-[550px] top-[16px] absolute rounded-[32px]" src="/assets/libro2.jpg" />
    <img class="w-[381px] h-[353px] left-[1394px] top-[16px] absolute rounded-[32px]" src="/assets/libro3.jpg" />
    <div class="w-[381px] h-[541px] left-[972px] top-[16px] absolute bg-white rounded-[32px] border border-zinc-600"></div>
    <img class="w-[381px] h-[353px] left-[972px] top-[16px] absolute rounded-[32px]" src="/assets/libro4.jpg" />
    <div class="w-[201px] h-[38px] left-[246px] top-[405px] absolute text-zinc-800 text-xl font-medium font-['Roboto']">Presentacion del libro Don Bosco dialoga con las artes y la ciencia.</div>
    <div class="w-[201px] h-[38px] left-[678px] top-[405px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Colocacion de la nueva piedra en el Edificio sede Cuenca</div>
    <div class="w-[201px] h-[38px] left-[1076px] top-[404px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Ciclo de conferencias: Marcando una diferencia.</div>
    <div class="w-[201px] h-[38px] left-[1522px] top-[404px] absolute text-zinc-600 text-xl font-medium font-['Roboto']">Tercera feria de actualizacion cientifica.</div>
    <div class="w-[228px] h-9 left-[203px] top-[466px] absolute text-zinc-600 text-lg font-medium font-['Roboto']">Presentacion del libro presencial.</div>

</div>